body{
    background-color: black;
}
#header {
    display: flex;
   background-color:  royalblue; 
   gap: 900px;
   padding: 10px;
   border-radius: 20px;
}
.logo{
    font-size: larger;
    font-weight: bolder;
    color: black;
}
nav{
    gap: 30px;
    display: flex;
    font-size: medium;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
#listContainer{
    background-color: darkgrey;
    padding: 1px;
    margin-top: 20px;
    border: 2px solid royalblue;
    border-radius: 20px;
    display: flex;
    
}

#animeList{
  list-style: none;
  text-align: center;
  cursor: pointer;
}
.animeCard{
    margin-top: 10px;
    padding: 10px;
    width: 800px;
}
#animeList li {
    margin-top: 3px;
    padding: 3px;
    border: 1px solid ;
    border-radius: 20px;
    text-align: center
}
#displaySearchResult{
    background-image: url(./image/AAAAAAAAAwallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    margin: 10px;
    border-radius: 20px;
}
.animeCardResult{
    padding-right: 600px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#search{
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#searchBtn{
    border-radius: 20px;
    height: 30px;
}
#searchBar{
    border-radius: 20px;
    height: 30px;
    width: 500px;
    
}

