body{
    background-color: black;
   
}
h3{
    text-align: center;
}
#header {
    display: flex;
   background-color: gold; 
   gap: 400px;
   padding: 10px;
}
.Search{
    border: 1px solid blue;
}
#showing{
    background-color: darkgrey;
    padding: 1px;
    margin-top: 20px;
    border: 2px solid gold;
    border-radius: 20px;
    display: flex;
    
}
#animeContainer{
padding-right: 20px;
}

.animeCard{
    margin: 10px;
    padding: 10px;
    width: 800px;
}
#animeList{
  list-style: none;
}
#animeList li {
    margin-top: 3px;
    padding: 3px;
    border: 1px solid ;
    border-radius: 20px;
    text-align: center
}
#displaySearchResult{
    background-image: url(./image/AAAAAAAAAwallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    margin: 10px;
}
.animeCardResult{
    padding-right: 600px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}


